body {
    background: #fc6e6e3b;
    margin-left: 300px;
}


.border-radius-round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid tomato;
    background-color: greenyellow;
    color: coral;
    width: 200px;
    padding: 25px;
}

.only-bottom-rounded {
    border-radius: 0 0 20px 20px;
    background-color: green;
    width: 400px;
    height: 100px;
    color: white;
    padding: 50px;
}

.creating-circle {
    width: 200px;
    height: 200px;
    color: white;
    background-color: green;
    border-radius: 100px;
}


.box-shadow-property {
    width: 600px;
    height: 0 auto;
    background-color: #9ACD32;
    box-shadow: 10px 10px #888888;
    padding: 20px;
    color: black;
}

.box-shadow-blur_and_spread {
    width: 600px;
    height: 0 auto;
    background-color: #cd329f;
    box-shadow: 10px 10px 5px 5px rgba(49, 79, 248, 0.733);
    padding: 20px;
    color: black;
}

.box-shadow-negative-values {
    width: 600px;
    height: 0 auto;
    background-color: #9ACD32;
    box-shadow: -20px -20px 5px -5px #888888;
    padding: 20px;
    color: black;
}

.creating-inner-shadow {
    width: 600px;
    height: 0 auto;
    background-color: #f0ed4b;
    box-shadow: inset 10px 10px 5px #888888;
    padding: 20px;
    color: black;
}

.layering-multiple-shadows-partOne {
    width: 600px;
    height: 0 auto;
    background-color: #f0ed4b;
    box-shadow: inset 10px 10px 5px red, inset -10px -10px 5px blue;
    padding: 20px;
    color: black;
}

.layering-multiple-shadows-partTwo {
    width: 600px;
    height: 150px;
    background-color: #9ACD32;
    box-shadow: 0 0 10px 4px #FF6347, 0 0 10px 30px #FFDAB9, 30px 0 20px 30px #B0E0E6;
    padding: 20px;
    color: black;
}

#multiple-shadows-only {
    width: 600px;
    height: 150px;
    background-color: #9ACD32;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px blue, 20px 20px red, 30px 30px yellow;
}

#multiple-shadow-with-blur_effect {
    width: 600px;
    height: 150px;
    background-color: #9ACD32;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 10px 8px blue, 20px 20px 8px red, 30px 30px 8px yellow;
}


nav {
    background: url("http://www.sololearn.com/images/bg2.jpg");
    width: 700px;
    height: 0 auto;
    padding: 50px 0;
}

nav ul {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 25%,
            rgba(255, 255, 255, 0.2) 75%,
            rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
    display: block;
}

.text-shadow-only {
    text-shadow: 2px 2px tomato;
    font-size: 40px;
}

.text-shadow-blur {
    text-shadow: 2px 2px 8px #FF0000;
    font-size: 30px;
}

.text-shadow-multi-color {
    text-shadow: 1px 1px 3px #FF0000, 2px 2px 6px #00ff2a;
    font-size: 30px;
}

.two-shadows {
    text-shadow: 5px 10px 2px #93968f, -3px 6px 5px #58d1e3;
    font-size: 50px;
}

#parent {
    font-size: 30px;
}

#parent p:first-child {
    color: green;
    text-decoration: underline;
}

#parent2 {
    font-size: 30px;
}

#parent2 p:last-child {
    color: green;
    text-decoration: underline;
}

#firstLine-pseudo-element p::first-line {
    color: #589432;
}

#selection-pseudo-element p::-moz-selection {
    background: #8bc34a;
    color: #fff;
}

#selection-pseudo-element p::selection {
    background: #8bc34a;
    color: rgb(41, 6, 235);
}

.pseudo-heading1::before {
    content: url(https://emojipedia-us.s3.amazonaws.com/source/skype/289/smiling-face-with-smiling-eyes_1f60a.png);
}

.pseudo-heading2::after {
    content: url(https://emojipedia-us.s3.amazonaws.com/source/skype/289/smiling-face-with-smiling-eyes_1f60a.png);
}

#pseudoElements-before1 p::before {
    content: url("http://www.sololearn.com/images/bullet.jpg");
}

#pseudoElements-after1 p::after {
    content: url("http://www.sololearn.com/images/bullet.jpg");
}










.margin-bottom {
    margin-bottom: 100px;
}