body {
    background: #fc6e6e3b;
    margin-left: 300px;
}

.border-radius-round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid tomato;
    background-color: greenyellow;
    color: coral;
    width: 200px;
    padding: 25px;
}

.only-bottom-rounded {
    border-radius: 0 0 20px 20px;
    background-color: green;
    width: 400px;
    height: 100px;
    color: white;
    padding: 50px;
}

.creating-circle {
    width: 200px;
    height: 200px;
    color: white;
    background-color: green;
    border-radius: 100px;
}


.box-shadow-property {
    width: 600px;
    height: 0 auto;
    background-color: #9ACD32;
    box-shadow: 10px 10px #888888;
    padding: 20px;
    color: black;
}

.box-shadow-blur_and_spread {
    width: 600px;
    height: 0 auto;
    background-color: #cd329f;
    box-shadow: 10px 10px 5px 5px rgba(49, 79, 248, 0.733);
    padding: 20px;
    color: black;
}





.margin-bottom {
    margin-bottom: 100px;
}

